/*

My Custom CSS
=============

Author:  Venus Garg
Updated: Augu
*/


/* --------------------------------------
   Layout
   -------------------------------------- */

body
{
   margin: 0;
   background: #e3e3e3;
   font-family: 'Ravi Prakash', cursive;
}

body h3, h2
{
   font-family: 'Indie Flower', cursive;
}

/* --------------------------------------
   search form
   -------------------------------------- */
#searchInput
{
   width: 200px;
}

/* --------------------------------------
   Nav Bar
   -------------------------------------- */
.navbar-brand
{
   padding: 0 15px;
}

.navbar-brand img
{
   width: 100px;
   height: 48px;
}

.navbar-form input
{
   height: 37.4px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
   margin-top: 60px;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {
   height: 100%;
   width: 100%;
}

#slide2 {
   height: 100%;
   width: 100%;
}

#slide3 {
   height: 100%;
   width: 100%;
}

/* --------------------------------------
   Hero
   -------------------------------------- */
.hero
{
   height: 300px;
   margin-top: 2px;
   margin-bottom: 0;
}

.csgo_logo
{
   margin-top: 0px;
   margin-bottom: 0;
   height: 300px;
   width: 100%;
}

/* --------------------------------------
   Three columns
   -------------------------------------- */
.threecol
{
   margin: 0 10px;
}

#awp, #ak47, #m4a4, #deagle, #tec9, #fiveseven
{
   height: 150px;
   width: 100%;
}

.awp, .ak47, .m4a4, .deagle, .tec9, .fiveseven
{
   width: 30%;
}

/* --------------------------------------
   Two columns
   -------------------------------------- */
.gametypes
{
   margin-top: 20px;
}

.row1 img, .row2 img, .row3 img
{
   height: 70px;
   width: 100%;
}

/* --------------------------------------
   Footer
   -------------------------------------- */
footer
{
   margin-top: 0;
   background: black;
   color: white;
}

footer a
{
   color: white;
}

footer li
{
   text-decoration: none;
   display: inline;
   margin: 0 10px;
}

footer #first
{
   margin-bottom: 10px;
}

footer ul
{
   margin-left: 38%;
}